<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, delectus. A libero, quasi beatae aliquid modi vitae eligendi temporibus ab, distinctio autem enim excepturi porro omnis natus minima sequi iure commodi. Ipsam unde officia, dignissimos sapiente accusantium porro tempore eligendi!</p>
    </div>
</div>